<footer class="container mt-auto d-flex flex-wrap justify-content-end align-items-center py-3 border-top">
    <ul class="nav ms-auto ml-md-0">
        <li class="nav-item">
            <a class="nav-link text-body-secondary" href="https://github.com/stormhub">
                Github
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-body-secondary" href="https://www.linkedin.com/in/johnny-z-9187319">
                Linkedin
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-body-secondary" href="https://www.twitter.com/roamingcode">
                Twitter
            </a>
        </li>
    </ul>
</footer>