---
layout: layouts/base.njk
---

{% set postslist = collections.posts | reverse %}
{% set recentposts = postslist | head(3) %}

<div class="container mw-content">
    <details class="posts-nav mb-3">
        <summary class="posts-nav-toggle">Posts</summary>
        <ul class="posts-nav-list">
        {%- for post in recentposts %}
            <li>
            {%- if post.url == page.url -%}
                <a href="{{post.url}}" class="posts-nav-link active" aria-current="page">{{post.data.title}}</a>
            {% else %}
                <a href="{{post.url}}" class="posts-nav-link">{{post.data.title}}</a>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        <a href="/blog/" class="posts-nav-allposts">All posts &rarr;</a>
    </details>
    <article class="with-prose-content">
        {{ content | safe }}
    </article>
</div>
