{% set postslist = collections.posts | reverse %}
{% set recentposts = postslist | head(3) %}

<div class="container mw-content">
    <details class="posts-nav mb-3">
        <summary class="posts-nav-toggle">Posts</summary>
        <ul class="posts-nav-list">
        {%- for entry in recentposts %}
            <li>
                <a href="{{entry.url}}" class="posts-nav-link">{{entry.data.title}}</a>
            </li>
        {%- endfor %}
        </ul>
        <a href="/blog/" class="posts-nav-allposts">All posts &rarr;</a>
    </details>
    <article class="with-prose-content">
        {{ postslist[0].templateContent | safe }}
    </article>
</div>