---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<div class="container d-flex flex-nowrap flex-column ps-0 mw-content">
	<div class="row align-items-center g-lg-6 pb-4">
		<h2>{{ tag }}</h2>
	</div>

	<div class="row align-items-center flex-1 g-lg-6 pb-5">
		{% set postslist = collections[ tag ] | reverse %}
		{% include "postslist.njk" %}
	</div>

	<div class="row d-flex align-items-center g-lg-6 pb-5">
		<a class="text-primary text-decoration-none" href="tags.njk">All tags</a>
	</div>
</div>