---js
const eleventyNavigation = {
	key: "Tags",
	order: 1
};
---
<div class="container d-flex flex-nowrap col-xl-10 col-xxl-8 px-4 py-4 mw-content">
	<div class="row align-items-center g-lg-6 pb-5">
		<h2>Tags</h2>
		<div class="d-flex flex-nowrap flex-row fs-4">
			{% for tag in collections | getKeys | filterTagList %}
				{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<a href="{{ tagUrl }}" class="p-2">
					<span class="badge rounded-pill bg-secondary text-lowercase py-2 px-3">{{ tag }}</span>
				</a>
			{% endfor %}
		</div>
	</div>
</div>